<div class="row justify-content-center mb-3 mt-4 row p-3 me-auto py-3">
    <div class="card mb-3 col-lg-6 col-md-6 col-sm-12">
        <div class="row g-0">
            <div class="col-4">
              <img src="../../../assets/img/camila.jpeg" class="card-img-top" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Camila Arredondo</h5>
                    <p class="card-text">Soy una persona que le gusta tomar desafíos, y por mas que estos se pongan difíciles, nunca me doy por vencida hasta 
                        lograr cumplirlos. Me gusta buscar las necesidades reales del cliente y ayudarlos en ese objetivo. Soy muy soñadora y lucho diariamente 
                        para que esos sueños se vuelvan realidad. Hace un tiempo escuché una frase que marcó bastante 
                        mi forma de afrontar estos retos que van surgiendo en nuestro camino, "Hazlo, y si te da miedo, hazlo con miedo".</p>
                    <p class="card-text"><small class="text-body-secondary">NTTLAB</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 col-lg-6 col-md-6 col-sm-12">
        <div class="row g-0">
            <div class="col-4">
                <img src="../../../assets/img/Marianny.jpg" class="card-img-top" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Marianny Batista</h5>
                    <p class="card-text">A los 19 años, me encuentro estudiando la carrera de Analista Programador en Santo Tomás, donde me he especializado como desarrolladora frontend. A lo largo de mi trayectoria, he adquirido habilidades en lenguajes como HTML, CSS, JS y React, así como en plataformas como GitHub.

                        Desde muy joven, he sentido un gran interés por la ciencia, en especial por la física y la astronomía. Me apasiona el hecho de que el universo esté en constante expansión, lo cual me ha impulsado a investigar y mantener una actitud proactiva para encontrar la mejor solución a cualquier problema que se me presente.
                        
                        En este sentido, la programación se ha convertido en la ciencia exacta en la que he encontrado mi lugar, pues me permite aplicar tanto la lógica como la creatividad en cada proyecto que desarrollo. Para mí, es una gran satisfacción poder contribuir con soluciones innovadoras y efectivas a través de mi trabajo como desarrolladora frontend.
                        </p>
                    <p class="card-text"><small class="text-body-secondary">NTTLAB / Analista Programador UST</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 col-lg-6 col-md-6 col-sm-12" >
        <div class="row g-0">
            <div class="col-4">
                 <img src="../../../assets/img/Clarivel.jpeg" class="card-img-top" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Clarivel Jeldres</h5>
                    <p class="card-text">Desarrolladora web y contadora general.<br>
                        Me gusta participar en la creación de páginas web dinámicas y adaptables a distintos dispositivos, para brindar una mejor experiencia de usuario.<br>
                        Mi objetivo es seguir desarrollándome en el ámbito del desarrollo web, y continuar aprendiendo nuevas técnicas y herramientas para aplicarlas en futuros proyectos.</p>
                    <p class="card-text"><small class="text-body-secondary">NTTLAB</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 col-lg-6 col-md-6 col-sm-12" >
        <div class="row g-0">
            <div class="col-4">
                 <img src="../../../assets/img/Genesis.jpeg"class="card-img-top" alt="...">
            </div>
            <div class="col-8">
                <div class="card-body">
                    <h5 class="card-title">Génesis Longart</h5>
                    <p class="card-text">Desarrolladora web y mami de Briana. Disfruto conocer de otras culturas, especialmente su gastronomía.  La programación me hizo entender que
                      somos capaces de generar aportes significativos desde nuestro metro cuadrado. Desde entonces me mantengo en constante perfeccionamiento. para brindar soluciones digitales novedosas y efectivas.</p>
                    <p class="card-text"><small class="text-body-secondary">NTTLAB</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
